<template>
    <div class="characters">
        <div class="charactersItem" v-for = "character in characters" :key = "character.id">
            {{character.name}}
            <img :src="character.image" :alt="character.name">

        </div>
    </div>
</template>

<script>
import { onMounted, computed } from 'vue';
import { useStore } from 'vuex';

    export default {
        components: {

        },

        setup() {
            const store = useStore()
            
            // 17.- Agregar variable para guardar los personajes

            const characters = computed(() => {
                return store.state.characters
            })
        
            onMounted(() => {
                store.dispatch('getCharacters')
            })

            return {
                characters
            }
        }

    }

</script>

<style lang="scss" scoped>

</style>