<template>
  <h1>Rickelme y Morticio</h1>
  <ListCharacters />
</template>

<script>
 import ListCharacters from "./components/ListCharacters.vue";
export default {
  name: 'App',
  components: {
    ListCharacters
  }
}
</script>

<style lang="scss">
</style>
